* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

#nav {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

#nav-title {
    display: inline-block;
    font-size: 48px;
}

/*font color change inside of header title located in nav bar*/
#seo{
    color: #d9dcd6;
}

#nav-links {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

/* main image */
#background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../code-refactor-sbarkley/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* sidebar content section */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content img {
    max-height: 200px;
}

/* float rules for sidebar content section */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Search Engine Optimization */
#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Online Reputation Management */
#online-reputation-management{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Social Media Marketing */
#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Right Sidebar Content */
.right-sidebar {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.sidebar-icons {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Lead Generation */
#lead-generation {
    margin-bottom: 32px;
    color: #ffffff;
}

#lead-generation h3 {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
}

/* Brand Awareness */
#brand-awareness {
    margin-bottom: 32px;
    color: #ffffff;
}

#brand-awareness h3 {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
}

/* Cost Management */
#cost-management {
    margin-bottom: 32px;
    color: #ffffff;
}

#cost-management h3 {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
}

/* Footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
